@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Inter:wght@300;400;500;600&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif:
    "Playfair Display", ui-serif, Georgia, Cambria, "Times New Roman", Times,
    serif;

  --color-gold: #d4af37;
  --color-gold-hover: #e5c158;
  --color-dark: #050505;
  --color-dark-light: #0a0a0a;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-dark);
  color: #eeeeee;
  font-family: var(--font-sans);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-dark);
}

::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-gold);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-gold);
}

.text-gradient-gold {
  background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
